div h1{
  text-align: center;
}
li{
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul li{
  list-style: none;
}

.lineThrough{
  text-decoration: line-through;
}