div h1{
  margin: 30px 0px;
  text-align: center;
}
#input{ 
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
}

#input input, #input button{
  font-size: 19px;
  margin: auto 10px;
}
#input button{
  border-radius: 30px;
  padding: 10px 30px;
  color: #f2eaed;
  cursor: pointer;
  border: 1.5px solid #16235a;
  background-color: #04060f;
}
#input button:hover{
  transition: all 500ms;
  background-color: #f2eaed;
  color: #04060f;
}
#input input{
  padding: 10px 15px;
  color: #04060f;
  border: none;
  border-bottom: 1.5px solid #16235a;
  text-align: center;
}

ul{
  width: 50%;
  margin-left: 25%;
}


li{
  margin: 15px 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li p, li span{
  cursor: pointer;
}
.noTasks{
  text-align: center;
}
.lineThrough{
  text-decoration: line-through;
}

@media (max-width: 576px) { 
  #input input, #input button{
  font-size: 14px;
  margin: 10px 5px;
  }
  ul{
    width: 70%;
    margin-left: 15%;
  }
}